:root {
  /* Colours */
  --color-bg: #f3f4ff; /* page background /*

  /* Header */
  --color-head-bg: #2a2a6e;

  /* Logotype */
  --color-logotype-bg: #14143c;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #2a2a6e;
  /* Links */
  --color-link-bg: #4a4aa0;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #14143c;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #1C2333;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #FFC247;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #E5E8F5;
  --color-cta-newscard-bg: #7373C9;
  --color-cta-newscard-bg-inverted: #4A4AA0;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: rem;
  --headline1-size: 2rem;
  --headline2-size: 1.2rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #7373C9;
  --color-infobox-2-bg: #4A4AA0;
}
