:root {
  /* Colours */
  --color-bg: light-dark(#f3f4ff, #00010a); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#2a2a6e, #9090d5);

  /* Logotype */
  --color-logotype-bg: light-dark(#14143c, #c1c1eb);
  --logo-text: light-dark(#ffffff, #00010a);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#2a2a6e, #9090d5);
  /* Links */
  --color-link-bg: light-dark(#4a4aa0, #6363c9);
  --color-link-hover: light-dark(#14143c, #c1c1eb); /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-under-size: 1.5rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#14143c, #c1c1eb);
  --color-headline-text-page: light-dark(#ffffff, #1c2333);

  /* Tekst */
  --color-text: light-dark(#1c2333, #ced4e4);
  --color-text-inverted: light-dark(#ffffff, #1c2333);

  /*  Marginer */
  --margin-head-bottom: 40px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #272837);
  --color-cta-card-bg: light-dark(#ffc247, #b87a00);
  /* news-cards */
  --color-news-bg: light-dark(#ffffff, #272837);
  --color-news-bg-inverted: light-dark(#e5e8f5, #666776);
  --color-cta-newscard-bg: light-dark(#7373c9, #4949b1);
  --color-cta-newscard-bg-inverted: light-dark(#4a4aa0, #6363c9);
  --hover-yellow: light-dark(#b87a00, #ffe1a3);
  --hover-dark: light-dark(#2a2a6e, #9090d5);
  --hover-light: light-dark(#4a4aa0, #6363c9);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: rem;
  --headline1-size: 2rem;
  --headline2-size: 1.2rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #272837);
  --color-infobox-1-bg: light-dark(#7373c9, #4949b1);
  --color-infobox-2-bg: light-dark(#4a4aa0, #6363c9);

  --dropshadow: light-dark(lightgray, black);
}
