#webform {
  background-color: var(--form-background-color);
  margin-top: 10px;
}

#form-info {
  margin-left: 1rlh;
}

#think {
  margin-top: 5px;
  line-height: 25px;
}

#form-section,
#form-summary {
  background-color: white;
  border-radius: 37px;
  padding: 20px 0px 20px 0px;
  font-size: 16px;
  margin-bottom: 15px;
}

#form-section h2 {
  margin-bottom: 15px;
}

#form-summary h2 {
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-left: 10%;
  margin-bottom: 15px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#form-summary p {
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

textarea {
  border: #dbe2f5 solid 4px;
}

select {
  padding: 8px;
  border-radius: 0px;
  border: #dbe2f5 solid 4px;
}

fieldset {
  padding: 8px;
  border: #dbe2f5 solid 4px;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: #ff4b00;
  }
}

.error-message {
  display: none;
}

.form-group:has(:user-invalid) {
  input {
    border-color: darkred;
  }
  .error-message {
    display: block;
  }
}

:focus-visible {
  outline: 2px solid #90aeff;
  outline-offset: 1px;
}

button:hover {
  background: #a93300;
}

button:active {
  scale: 0.98;
}

.form-group {
  display: grid;
  gap: 0.1rlh;
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.75ch;
}

form {
  accent-color: #ff4b00;
  display: grid;
  gap: 1rlh;
  padding: 1rlh;
}

button {
  padding: 4px 20px 4px 20px;
  background-color: #ff4b00;
  color: white;
  cursor: pointer;
  border: none;
}

input {
  padding: 3px;
  box-shadow: 1px 1px 5px lightgray;
  background-color: #dbe2f5;
  border: none;
}

.error-message {
  color: #ff4b00;
}

.star {
  color: #ff4b00;
}

.form_hide {
  display: none;
}
