html {
  color-scheme: light;
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

html.dark {
  color-scheme: dark;
}

header {
  height: min-content;
}

.logo {
  padding: 12px;
}

#main-disclamer {
  height: 225px;
  background-color: var(--color-head-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
  margin-top: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  margin: 25px 0;
  line-height: 1.3rem;
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: var(--font-p-size);
  line-height: 1.5rem;
}

.sub {
  font-size: var(--font-sub1-size);
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}

.under {
  font-size: var(--font-under-size);
  color: var(--color-text-inverted);
  margin-top: 20px;
}

h2 {
  font-size: var(--headline2-size);
}

h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

h6 {
  font-size: var(--font-h2-size);
  color: var(--color-text);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: var(--color-logotype-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: #ffffff;
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-links);
}

header nav button {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: #ffffff;
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-links);
  max-width: fit-content;
  height: auto;
  border: none;
}

#mode-btn:hover {
  background-color: var(--color-link-hover);
  cursor: pointer;
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer {
  border-top: solid 4px var(--color-text);
  margin-top: 5rem;
}
footer a {
  font-size: var(--font-p-size);
}
footer a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.some a {
  text-decoration: underline;
}
.some a:hover {
  color: #7373c9;
}

#logotype-wrapper a #Layer_2 {
  color: var(--logo-text) !important;
}
